*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(38, 127, 211);
}
h1{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    margin-top: 2%;
}
.big{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}
.box{
    display: flex;
    flex-direction: row;
    gap: 10%;
}
.but{
    width: 30vw;
    height: 30vh;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    background-color: rgb(142, 196, 247);
    color: white;
}