*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: yellow;
    color: rgb(235, 80, 131);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 3%;
    font-size: xxx-large;
}
h2{
    text-align: center;
    margin-bottom: 3%;

}
button{
    display: flex;
    justify-self: center;
    padding: 1%;
    border-radius: 20px;
    background-color: rgb(224, 129, 188);
    font-size: x-large;
    margin-bottom: 3%;
}