*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(38, 127, 211);
}
.welcome{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    margin-top: 2%;
}
.user{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 2%;
    margin-bottom: 1%;
}
.big{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(142, 196, 247);
    border-radius: 20px;
    width: 70vw;
    }
.game{
    text-align: center;
    font-size: 190px;
    border-radius: 10px;
    flex-basis: 30%;
    margin: 1%;
    background-color: rgb(143, 211, 235);
}
.x{
    display: none;
}
.game:hover{
    .v{
        display: none;

    }
    .x{
        display: inline;
    }
}