*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(80, 176, 35);
}
.welcome{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xxx-large;
    margin-top: 2%;
}
.enter{
    color: white;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 5%; 
}
.center{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5%;
   
}
.box_login{
    display: flex;
    flex-direction: column;
    background-color: rgb(153, 225, 202);
    border-radius: 20px;
    width: 30vw;
    align-items: start;
   
}
form{
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 5%;
    margin-bottom: 5%;

}
label{
    padding: 3%;
    margin-top: 10%;
   
}
button{
    padding: 3%;
    margin: 3%;
    border-radius: 10px;
    height: 5vh;
    margin-top: 15%;

}
input{
    padding: 3%;
    margin: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    width: 200%;
}
.but{
    display: flex;
    flex-direction: row;
}